# Prevent PHP execution in uploads directory
<IfModule mod_php.c>
    php_flag engine off
</IfModule>

Options -ExecCGI
RemoveHandler .php .phtml .php3 .php4 .php5 .php7 .phps .phar
AddType text/plain .php .phtml .php3 .php4 .php5 .php7 .phps .phar
